<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('./partials/head'); -%>
    </head>

    <body>
        <% if(logged==true){ %>
        <%- include('./partials/headerLogged'); -%>
        <div id="corps text-center">
            <p class="offset-1 col-8 col-md-8 offset-md-0" id="bjr">Bonjour <%= User %></p>
            <% } else{ %>
            <%- include('./partials/header'); -%>
            <% } %>


            <!-- Page rechercher trajet -->
            <div class="container" id="container1">
                <!-- Formulaire rechercher un trajet -->
                <form id="myForm" action="./rechercher" method="post" class="form-horizontal" role="form">
                    <div class="mx-auto offset-md-2 col-md-8 card d-flex justify-content-center">
                        <div class="col-md-12  text-center" id="titre">
                            <div class="col-md-12">
                                <img src="https://img.icons8.com/nolan/96/user-location.png" />
                            </div>
                            <div class="col-md-12 align-self-center">
                                <h1 class=" text-center recherche-title">Envie de se déplacer ?</h1>
                            </div>
                        </div>

                        <div class="form-group espace">
                            <input type="search" class="form-control input-lg" id="adr-depart-input" placeholder="Départ" name="AdresseDep">
                        </div>
                        <div class="form-group espace">
                            <input type="text" class="form-control input-lg" onFocus="geolocate()" id="adr-dest-input" placeholder="Destination" name="AdresseDest">
                        </div>


                        <div class="row espace">
                            <div class="col-md">
                                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control input-lg" type="text" value="Quand ?" name="DateDep" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" />
                            </div>
                            <div class="col-md">
                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                    <input class="form-control input-lg" type="text" value="Heure d'arrivée souhaitée ?" name="HeureDep" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input3" value="" />
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" type="button" class="btn btn-primary btn-lg">Rechercher</button>
                        </div>

                    </div>
                </form>
            </div>


            <!-- Résultat rechercher -- liste des Trajets recherchés,  -->
            <div id="trajets_recherche" class="row d-flex justify-content-center">
                <input type="hidden" value="<%= User %>" />
                <% for(var i=0; i < trajecto.length; i++) { %>
                <div class="col-md-6 shadow-lg p-3 mb-5 mt-5 rounded" >
                    <!-- partie visible -->
                    <div class="col-md-12" >
                        <div id="'+i+'" class="row" onclick="showDetail(this.id)">
                            <div class="col-md-4  ">
                                <div class="col-md-12 ">

                                    <div class="col-md-12">
                                        <img src='../Pictures/<%= trajecto[i].IdChauffeur.split("@")[0] %>.png' onerror="this.onerror=null; this.src='../img/img-profil.jpg'" id="img-profile" alt="img-profile" class="mx-auto d-block rounded-circle" >
                                    </div>
                                    <div class="col-md-12 col-12 ">
                                        <div id="trajet-nom-prenom" class="row">
                                            <a  class="col-md-12 col-8" href="./Profil/<%= trajecto[i].IdChauffeur %>"><%= trajecto[i].NomChauffeur %> <%= trajecto[i].PrenomChauffeur %> </a>
                                            <p  class="col-md-2 col-2" >5</p>
                                            <img src="img/star.png"  class="col-md-3 col"  id="trajet-star" alt="img-star" /> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8 col-12 row">
                                <div class="col-md-2 col-3">
                                    <div class="trajet-place col-md-12" id="depart-time-trajet"><%= trajecto[i].DateDep.toString().substring(16,21) %></div>
                                    <div class="trajet-vertical-separator col-md-12"></div>
                                    <div class="trajet-place col-md-12" id="arrivee-time-trajet"><%= trajecto[i].DateArr.toString().substring(16,21) %></div>
                                </div>
                                <div class="col-md-1 col-1 pl-1 ">
                                    <div class="col-md-12 pl-0">
                                        <span class="trajet-circle"></span>
                                    </div>
                                    <div class="col-md-12 pl-0">
                                        <div class="vertical-line"></div>
                                    </div>
                                    <div class="col-md-12 pl-0">
                                        <span class="trajet-circle"></span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    <div class="trajet-place col-md-12" id="depart-trajet"><%= trajecto[i].AdresseDep %></div>
                                    <div class="trajet-vertical-separator col-md-12" id="suppr_trajet-vertical-separator"></div>
                                    <div class="trajet-place col-md-12" id="arrivee-trajet"><%= trajecto[i].AdresseArr %></div>
                                </div>
                                <div class="col-md-2 col-1 row">
                                    <div class="col-md-12"><%= trajecto[i].Prix %>$</div>

                                    <div class="col-md-12 d-flex align-items-end">
                                        <img src="img/down-arrow.png" id="img-arrow-'+i+'" class="img-arrow" alt="img-profile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Partie invisible -- contacter -->
                    <div class="col-md-12">
                        <div class="row" id="detail-container-'+i+'">
                            <div id="ligne-horizontale" class="col-md-12 col-12  row">
                                <div class="col-md-6 col-12" >
                                    <p class="col-md-12 col-12"><%= trajecto[i].Commentaire %></p>
                                    <div class="col-md-12 col-12 row">
                                        <p class="col-md-4 col-5 ">Contacter</p>
                                        <a class="col-md col" href=""><%= trajecto[i].IdChauffeur %></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 text-center">
                                    <button class="btn btn-success btn-lg" onclick="reserveTrajet('<%= trajecto[i].IdTrajet %>')">Réserver </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

            </div>
        </div>


        <!-- Modal reservation -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form action="./Reserver" method="post">
                        <div class="modal-body">
                            <label for="Trajet" class="col-sm-4 col-form-label">IdTrajet</label>
                            <input id="Traj" value="" name="Trajet" readonly>
                            <label for="Msg" class="col-sm-4 col-form-label">Message</label>
                            <input type="text" id="Msg" value="" name="Message">

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Anuller</button>
                            <button type="submit" class="btn btn-success" name="Reserver">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Modal: modalConfirmDelete-->
        <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content text-center">
                    <!--Header-->
                    <div class="modal-header d-flex justify-content-center">
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <p><%if ( typeof msg != 'undefined' ) {%> <%= msg %> <%}%></p>


                    </div>

                    <!--Footer-->
                    <div class="modal-footer flex-center">
                        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">Ok</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>



        <!-- Affichage du calendrier de la date et l'heure-->
        <script type="text/javascript" src="javascripts//bootstrap-datetimepicker.js" charset="UTF-8"></script>

        <!-- Auocomplete Address-->
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1/dist/cdn/placesInstantsearchWidget.min.js"></script>



        <script type="text/javascript">
            // Format de la date et du timePicker
            ;(function($){
                $.fn.datetimepicker.dates['fr'] = {
                    days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
                    daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
                    daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
                    months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                    monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Dec"],
                    today: "Aujourd'hui",
                    suffix: [],
                    meridiem: ["am", "pm"],
                    weekStart: 1,
                    format: "dd/mm/yyyy hh:ii"
                };
            }(jQuery));
            $('.form_date').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('.form_time').datetimepicker({
                language:  'fr',
                weekStart: 1,
                //todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 1,
                minView: 0,
                maxView: 1,
                forceParse: 0
            });

            //Autocomplete pour addresse
            (function() {
                var searchBox = placesInstantsearchWidget({
                    appId: 'plKD0BHKH6A7',
                    apiKey: 'd73e81b8f89e712327f4c6daa086e67c',
                    container: document.querySelector('#adr-depart-input')
                });
                var searchBox2 = placesInstantsearchWidget({
                    appId: 'plKD0BHKH6A7',
                    apiKey: 'd73e81b8f89e712327f4c6daa086e67c',
                    container: document.querySelector('#adr-dest-input')
                });
                search.addWidget(searchBox);
                search.addWidget(searchBox2);

                search.start();
            })();


            //afficher tous les trajet apres une recherche


            //enregistrer la demande de reservation d'un trajet
            function reserveTrajet(trajet){
                $("#Traj").val(trajet);
                $("#exampleModalCenter").modal('toggle');
            }

            //afficher les details du trajet
            function showDetail(clicked_id){
                if (document.getElementById("detail-container-"+clicked_id).style.display == "none") {
                    document.getElementById("detail-container-"+clicked_id).style.display = "flex";
                    document.getElementById("img-arrow-"+clicked_id).src = "img/up-arrow.png";
                }
                else{
                    document.getElementById("detail-container-"+clicked_id).style.display = "none";
                    document.getElementById("img-arrow-"+clicked_id).src = "img/down-arrow.png";
                }
            }


        
            <%if ( typeof msg != 'undefined' ) {%> $('#modalConfirmDelete').modal(); <%}%>
       
            
            $(document).ready(function(){
                /*je colore l'icone rechercher pour dire que je suis sur cette page*/
                $('#mySidebar .menu a:nth-child(n)').find('i').removeClass('change_page')
                $('#mySidebar .menu a:nth-child(4)').find('i').addClass('change_page')
                $('#mySidebar .menu a:nth-child(n)').removeClass('change_page')
                $('#mySidebar .menu a:nth-child(4)').addClass('change_page')
            })
        </script>
        <%- include('./partials/menu'); -%>
        <%- include('./partials/footer'); -%>

    </body>

</html>
